In [1]:
'''Se carga la librería que carga los datasets'''
import pandas as pd
'''Librería que forma el árbol de decisión'''
from sklearn.tree import DecisionTreeClassifier
'''Librería para hacer una sección de datos para el test(prueba)'''
from sklearn.model_selection import train_test_split
'''Librería para las métricas dentro del modelo'''
from sklearn import metrics

In [2]:
'''Se carga el dataset'''
pima = pd.read_csv("Dataset of Diabetes .csv")
'''Se muestra los encabezados de las columnas del dataset'''
pima.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
'''Cambio de valores'''
d1 = {'F': 1 , 'M': 0, 'f': 1}
'''Asignación de valores númericos'''
pima['Gender'] = pima['Gender'].map(d1)
'''Impresión de la variable'''
print(pima)

      ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221       0   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223       0   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317       0   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534       0   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654       0   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004       0   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054       0   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
0    24.0     N
1    23.0     N
2    24.0     N
3    24.0     N
4    21.0     N
..    ...   ...
995  30.0     Y
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[1000 rows x 14 columns]

In [4]:
'''Suma de los valores nulos'''
pima.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [5]:
'''Cambio de letras por números'''
d2 = {'N': 0, 'P': 1, 'Y': 2, 'Y ': 2, 'P ': 1, 'N ': 0}
'''Asignación de la variable a la que se le cambiará los valores'''
pima['CLASS'] = pima['CLASS'].map(d2)
'''impresion de la variable'''
print(pima)

      ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221       0   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656       1   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223       0   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317       0   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534       0   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654       0   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004       0   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054       0   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI  CLASS
0    24.0      0
1    23.0      0
2    24.0      0
3    24.0      0
4    21.0      0
..    ...    ...
995  30.0      2
996  37.2      2
997  27.4      2
998  40.5      2
999  33.0      2

[1000 rows x 14 columns]